body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/home/home/home-body-background.webp');
    overflow: unset;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar-nav:last-child{
    float: right;
}

.item-container{
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    margin-top: 20px;
    border-width: .5px;
    width: 100%;
}

.no-gutter > [class*='col-'] {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.card {
    border-radius: 3%;
}